{% extends 'base.html' %}

{% block content %}
    <div>
        <h3> Blog Posts </h3>
        <table class="table">
            {% for i in data %}
                <tr>
                    <td>
                        <div class="container">
                            <a href='/display_content/{{i.id}}'><h2> {{i.title}} </h2></a>
                            <p> {{i.content}} </p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}