{% extends 'base.html' %}

{% block content %}
    <h3> Create the blog content </h3>
    <br>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                Blog Title : <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group" id="s">
                Blog Content : <textarea id="s0" rows="4" cols="30" name="content" class="form-control"></textarea>
                <button> Remove </button>
            </div>
            <div class="form-group">
                Content Category : <input type="text" name="category" class="form-control">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" placeholder="Save">
            </div>
        </form>
        <button id="section"> Add Section </button>
    </div>
{% endblock %}

{% block jscriptContent %}
    <script>
        var i = 1
        $("#section").click(function(){
            var sec = '';
            sec += 'Section : <textarea id='+i+' rows="4" cols="30" name="content" class="form-control"></textarea>';
            $("#s").append(sec);
            i += 1;
        });
    </script>
{% endblock %}